*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#header
{
    z-index:1 ;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: black;
}

/*Nav PC*/

#navigation{
    list-style: none;
    display:inline-block;
}

#navigation > li{
     display: inline-block;
}

#navigation li{
   
    position: relative;
}

#navigation > li >a{
        color: white;
        text-transform: uppercase;

}

#navigation li a{
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
} 

#navigation li:hover .subnav {
    display:block ;
}

#navigation >li:hover>a,
#navigation .subnav li:hover a{
    color: #000; 
    background-color:#ccc;
}

#navigation .subnav{
    display: none;
    min-width: 160px;
    top: 100%;
    left: 0;
    background-color: #fff;
    position: absolute;
    list-style: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

#navigation .subnav a{
    padding:0 12px;
    color:black;
    line-height:38px ;
}

#navigation .nav-arrow-down
{
    font-size: 14px;
}
section
{
    height: 300px;
    background-color: #ccc;
}